.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-height: 50px;
}
.headerFormTitle {
  font-size: 25px;
}
.bodyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  width: 50%;
}
.bodyFormAttendee {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field {
  min-height: 30px;
  outline: none;
  justify-content: flex-start;
}
.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  width: 100%;
}
